<launch>

  <!-- Launch ROS Package Template Node -->
  <node pkg="turtlebot_highlevel_controller" type="turtlebot_highlevel_controller" name="turtlebot_highlevel_controller" output="screen">
    <rosparam command="load" file="$(find turtlebot_highlevel_controller)/config/default.yaml" />
	<remap from="turtlebot_highlevel_controller/teleop" to="cmd_vel_mux/input/teleop"/>
  </node>

</launch>
